#grid {
  display: grid;
  grid-template-rows: 35.3% 1fr;
  grid-template-columns: 13% 78.5% 8.5%;
  gap: 0;
  width: 100vw;
  height: 100vh;
}

#div1 {
  grid-area: 1 / 2 / 2 / 4;
  background-color: rgba(148, 208, 189, 0.5);
}
#div2 {
  grid-area: 1 / 1 / 3 / 2;
  background-color: rgba(143, 36, 28, 0.5);
}

#div3 {
  grid-area: 2 / 2 / 3 / 3;
  background-color: rgba(170, 154, 160, 0.5);
}

#div4 {
  grid-area: 2 / 3 / 3 / 4;
  background-color: rgba(11, 38, 185, 0.5);
}
