@import "verticalMenu";
@import "horizontalMenus";
@import "header";
@import "grid";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  background: #333;
  color: white;
  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
  height: 95vh;
}

#examples-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ff0000;
  width: 50%;
}

.toggle {
  width: 80px;
}

#result {
  display: none;
  color: red;
}

@media screen and (max-width: 850px) {
  .main {
    flex-direction: column;
  }
  main {
    padding: 5em 0 5em 0;
  }
}
