@import "verticalMenu";
@import "horizontalMenus";
@import "header";
@import "grid";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  color: black;
  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
  height: 95vh;
}

#examples-container {
  margin-top: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  // border: 1px solid #ff0000;
  width: 50%;
}

#result {
  display: none;
}

@media screen and (max-width: 850px) {
  .main {
    flex-direction: column;
  }
  main {
    padding: 5em 0 5em 0;
  }
}

.toggle {
  padding: 5px 40px;
  border-radius: 5px;
  border: 1px solid #007bff;
  text-transform: uppercase;
  font-weight: bold;
  color: #007bff;
  cursor: pointer;
  background-color: #fff;
  transition: all 0.2s;

  &:hover {
    background-color: #00ff0d9f;
    color: #1b1a1b;
    animation: pulse 1s infinite;
  }
}

.whattodo,
.example {
  width: 95%;
  float: left;
}

.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #00ff0d9f;
  width: 95%;
  height: auto;
  border-radius: 5px;
}

.clicked {
  background-color: #00ff0d9f;
  transform: scale(0.9);
  color: #1b1a1b;
  &:hover {
    animation: none;
  }
}

@keyframes pulse {
  from {
    transform: scale(1);
  }
  50% {
    transform: scale(0.85);
  }
  to {
    transform: scale(1);
  }
}
